:root {
  /* Desktop */
  --display-font: 800 70px var(--font-hk);
  --h1-font: 700 64px var(--font-hk);
  --h2-font: 700 35px var(--font-hk);
  --h3-font: 700 24px var(--font-hk);
  --body-font: 500 20px var(--font-hk);
  --body-alt-font: 700 18px var(--font-hk);

  /* Mobile */
  --h1-font-m: 700 34px var(--font-hk);
  --h2-font-m: 700 24px var(--font-hk);
  --body-font-m: 500 16px var(--font-hk);
  --body-alt-font-m: 700 16px var(--font-hk);
  --secondary-body-font-m: 600 14px var(--font-hk);

  /* Colors */
  --oat-milk: #fdfcfb;
  --light-matcha-gradient: white;
  --foam: #e0ece5;
  --dirty-matcha: #86948b;
  --matcha: #408a67;
  --sesame: #2c2b33;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  line-height: 1.6;
  font: var(--body-font);
  color: var(--sesame);
}

body {
  min-height: 100vh;
}

/* prettier-ignore */
body, h1, h2, h3, h4, p, ul, li {
  margin: 0;
  padding: 0;
  background-color: var(--oat-milk);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* 
img {
  max-width: 100%;
  display: block;
} */

input,
textarea,
button,
select {
  font: inherit;
}
