@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Desktop */
  --display-font-size: 70px;
  --display-font-weight: 800;
  --h1-font-size: 64px;
  --h1-font-weight: 700;
  --h2-font-size: 35px;
  --h2-font-weight: 700;
  --h3-font-size: 24px;
  --h3-font-weight: 600;
  --body-font-size: 20px;
  --body-font-weight: 500;
  --body-alt-font-size: 20px;
  --body-alt-font-weight: 800;

  /* Mobile */
  --h1-font-size-m: 34px;
  --h1-font-weight-m: 700;
  --h2-font-size-m: 24px;
  --h2-font-weight-m: 700;
  --body-font-size-m: 16px;
  --body-font-weight-m: 500;
  --body-alt-font-size-m: 16px;
  --body-alt-font-weight-m: 700;

  /* Colors */
  --light-matcha: #96c2a5;
  --matcha: #408a67;
  --dark: #26272c;
}

* {
  box-sizing: border-box;
}

html,
body {
  line-height: 1.6;
  font-family: "HK Grotesk", sans-serif;
  font-size: 18px;
}

/* prettier-ignore */
body, h1, h2, h3, h4, p, li {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
