.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 250px; /* navbar height + margin */
}

.introText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.text {
  font: var(--display-font);
  font-size: clamp(34px, 5vw, 70px);
}

.wave {
  margin-left: 0.5rem;
  display: inline-block;
  transform-origin: 85% 85%;
}

.descriptionText {
  font: var(--display-font);
  font-size: clamp(24px, 5vw, 70px);
  color: var(--matcha);

  display: block;
  height: 100px;
  width: 19.5ch;
}

.profileIcons {
  margin-top: 40px;
}

.cartoon {
  height: clamp(250px, 30vw, 500px);
  width: auto;
}

@media screen and (max-width: 768px) {
  .intro {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 140px; /* navbar height + margin */
  }

  .introText {
    gap: 10px;
  }

  .descriptionText {
    font: 800 24px var(--font-hk);
    height: 34px;
  }

  .profileIcons {
    display: none;
  }
}
