.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 100px;
}

.introText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.text {
  font: var(--display-font);
}

.wave {
  margin-left: 0.5rem;
  display: inline-block;
  transform-origin: 85% 85%;
}

.descriptionText {
  font: var(--display-font);
  color: var(--matcha);

  display: block;
  height: 100px;
  width: 19.5ch;
}

.profileIcons {
  margin-top: 60px;
}

.cartoon {
  height: auto;
  width: auto;
}

@media screen and (max-width: 1450px) {
  .text {
    font: 800 60px var(--font-hk);
  }

  .descriptionText {
    font: 800 60px var(--font-hk);
  }
}

@media screen and (max-width: 1280px) {
  .intro {
    gap: 0px;
  }
  .text {
    font: 800 48px var(--font-hk);
  }

  .descriptionText {
    font: 800 48px var(--font-hk);
    height: 48px;
  }

  .cartoon {
    height: auto;
    width: 20%;
  }
}

@media screen and (max-width: 992px) {
  .text {
    font: 800 40px var(--font-hk);
  }

  .descriptionText {
    font: 800 40px var(--font-hk);
  }
}

@media screen and (max-width: 768px) {
  .intro {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .introText {
    gap: 10px;
  }

  .text {
    font: 800 34px var(--font-hk);
  }

  .descriptionText {
    font: 800 24px var(--font-hk);
    height: 34px;
  }

  .cartoon {
    height: 250px;
    width: auto;
  }

  .profileIcons {
    display: none;
  }
}
