.tag {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 8px 14px;
  border-radius: 10px;
  background: #e0ece5;
}

.skill {
  font: 600 16px var(--font-hk);
}

@media screen and (max-width: 768px) {
  .skill {
    font-size: 10px;
  }
}
